.baterias {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin: 0 auto;
  max-height: 55px;
  max-width: fit-content;
  padding: 0 20px;
}
